<div class="page-content-wrapper ">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h4 class="page-title m-0"> ویرایش پست ها  </h4>
            </div>

            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end page-title-box -->
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card m-b-30">
          <div class="card-body">

            <h4 class="mt-0 header-title"> مدیر عزیز !</h4>
            <p class="text-muted m-b-30 font-14">اطلاعات خواسته شده را تکمیل نموده سپس دکمه اضافه کردن را بزنید <br><span class="text_warning">عکس پست را باید دوباره اپلود کنید</span></p>
            <form action="/dashboard/edit-blog?blogId=<%= blog.id %>" method="POST" enctype="multipart/form-data">
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">عنوان پست</label>
                <div class="col-sm-10">
                  <input name="title" type="text" maxlength="75" class="form-control" id="thresholdconfig" placeholder="عنوان پست را وارد کنید" value="<%= blog.title%>" />
                </div>
              </div>


              <div class="form-group row">
                <label class="col-sm-2 col-form-label">وضعیت انتشار</label>
                <div class="col-sm-10">
                  <select name="status" class="form-control">
                    <option value="null">انتخاب</option>
                    <option <% if(blog.status==="public"){%>selected<% } %> value="public">عمومی</option>
                    <option <% if(blog.status==="private"){%>selected<% } %> value="private">خصوصی</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">عکس</label>
                <div class="col-sm-10">
                  <input name="image" class="form-control" type="file" placeholder="فایل انتخاب کنید">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">توضیحات</label>
                <div class="col-sm-10">
                  <textarea class="cke_rtl" name="body"><%= blog.body %> </textarea>



                </div>
              </div>
              <%- include('./includes/errors.ejs') %>
              <button type="submit" class="btn mt-5 btn-primary btn-lg btn-block waves-effect waves-light">اضافه کردن</button>
            </form>
          </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->
<script src="/dash/assets/js/jquery.min.js"></script>

<script type="text/javascript">
  $(function() {
    $("#start-date, #end-date").persianDatepicker({
      formatDate: "YYYY-0M-0D"
    });
  });
</script>
<script>
  CKEDITOR.replace('body', {
    contentsLangDirection: 'rtl',
  });
  CKEDITOR.addCss(".cke_editable{cursor:text; font-size: 18px; font-family: Arial, sans-serif;}");
</script>