<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,scholl - Education HTML Template">
  <meta name="description" content="school">
  <meta name="author" content="fatemeh khajeh">

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.rtl.min.css" />

  <link rel="stylesheet" href="/assets/css/meanmenu.css" />

  <link rel="stylesheet" href="/assets/css/all.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/fontello.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />

  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />

  <link rel="stylesheet" href="/assets/css/style.css" />

  <link rel="stylesheet" href="/assets/css/responsive.css" />

  <link rel="stylesheet" href="/assets/css/rtl.css" />

  <title><%= titleText%></title>

  <link rel="icon" type="image/png" href="/assets/images/favicon.ico">

  <% if(path==='/konjed'||path==='/login'){ %>
  <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
  <% } %>

</head>

<body>
  <!-- navbar -->
  <%- include("../includes/mainnavbar.ejs") %>

  <%-body%>

  <!-- footer -->
  <%- include("../includes/mainfooter.ejs")%>

  <!-- Scroll top -->
  <a href="#" class="scroll-top wow bounceInDown">
    <i class="fas fa-angle-double-up"></i>
  </a>

  <script src="/assets/js/jquery.min.js"></script>

  <script src="/assets/js/bootstrap.bundle.min.js"></script>

  <script src="/assets/js/jquery.meanmenu.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>

  <script src="/assets/js/owl.carousel.min.js"></script>

  <script src="/assets/js/wow.min.js"></script>

  <script src="/assets/js/isotope.pkgd.min.js"></script>

  <script src="/assets/js/main.js"></script>

</body>

</html>