 <!-- Start Navbar Area -->
 <div class="navbar-area">
   <div class="mobile-nav">
     <a href="/" class="logo">
       <img src="/assets/images/logo1.png" alt="logo" />
     </a>
   </div>

   <div class="main-nav">
     <div class="container">
       <nav class="navbar navbar-expand-md navbar-light">
         <a class="navbar-brand" href="/">
           <img src="/assets/images/logo1.png" alt="logo" />
         </a>
         <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
           <ul class="navbar-nav text-right">
             <li class="nav-item">
               <a href="/" class="nav-link">صفحه اصلی</a>
             </li>
             <!-- <li class="nav-item">
               <a href="/aboutus" class="nav-link">درباره ما</a>
             </li> -->
             <li class="nav-item">
               <a href="#" class="nav-link dropdown-toggle">دوره های آموزشی </a>
               <ul class="dropdown-menu">
                 <li class="nav-item">
                   <a href="/courses" class="nav-link">دوره ها</a>
                 </li>

               </ul>
             </li>
             <!-- <li class="nav-item">
               <a href="#" class="nav-link dropdown-toggle">رویدادها</a>
               <ul class="dropdown-menu">
                 <li class="nav-item">
                   <a href="/events" class="nav-link">رویدادها</a>
                 </li>

               </ul>
             </li> -->
             <li class="nav-item">
               <a href="#" class="nav-link dropdown-toggle">اطلاعیه ها و مطالب آموزشی</a>
               <ul class="dropdown-menu">
                 <li class="nav-item">
                   <a href="/blogs" class="nav-link">پست ها </a>
                 </li>

               </ul>
             </li>
             <li class="nav-item">
               <a href="#" class="nav-link dropdown-toggle">اساتید</a>
               <ul class="dropdown-menu">
                 <li class="nav-item">
                   <a href="/teachers" class="nav-link">اساتید </a>
                 </li>
               </ul>
             </li>
             <li class="nav-item">
               <a href="#" class="nav-link dropdown-toggle active">ثبت  نام/ورود</a>
               <ul class="dropdown-menu">

                 <!-- 
                 <li class="nav-item">
                   <a href="/gallery" class="nav-link">گالری</a>
                 </li> -->
                 <li class="nav-item">
                   <a href="/register" class="nav-link active">ثبت نام</a>
                 </li>
                 <li class="nav-item">
                   <a href="/login" class="nav-link">ورود</a>
                 </li>



               </ul>
             </li>
             <!-- <li class="nav-item">
               <a href="/contactus" class="nav-link">تماس با ما </a>
             </li> -->
           </ul>
         </div>
       </nav>
     </div>
   </div>
 </div>
 <!-- End Navbar Area -->