 <!-- Footer Area -->
 <div class="footer-area">
   <div class="container">
     <div class="row">
       <div class="col-lg-4 col-md-6">
         <div class="footer-left">
           <a href="/" class="logo"><img src="/assets/images/logo2.png" alt="logo" /></a>
           <p>
              آموزش زبان انگلیسی با اساتید مجرب و در تمام سطوح       
           </p>
           <ul class="footer-social">
             <li>
               <a href="#"><img src="/assets/images/icons/youtube.png" alt="youtube"></a>
             </li>
             <li>
               <a href="https://instagram.com"><img src="/assets/images/icons/instagram.png" alt="instagram"></a>
             </li>
             <li>
               <a href="https://mail.google.com/mail/"><img src="/assets/images/icons/email.png" alt="email"></a>
             </li>
           </ul>
         </div>
       </div>
       <div class="col-lg-3 col-md-6">
         <div class="footer-content fml-25">
           <h2>آموزشگاه</h2>
           <ul>
             <!-- <li>
               <a href="/contactus"><i class="flaticon-left-arrow"></i> تماس با ما</a>
             </li> -->
             <!-- <li>
               <a href="/gallery"><i class="flaticon-left-arrow"></i>گالری</a>
             </li> -->
             <li>
               <a href="/login"><i class="flaticon-left-arrow"></i> ورود</a>
             </li>
             <li>
               <a href="/register"><i class="flaticon-left-arrow"></i> ثبت نام</a>
             </li>
           </ul>
         </div>
       </div>
       <div class="col-lg-2 col-md-6">
         <div class="footer-content fml-15">
           <h2>دسترسی سریع</h2>
           <ul>
             <li>
               <a href="#"><i class="flaticon-left-arrow"></i> صفحه اصلی</a>
             </li>
             <li>
               <a href="/courses"><i class="flaticon-left-arrow"></i> کلاس ها</a>
             </li>
             <!-- <li>
               <a href="/events"><i class="flaticon-left-arrow"></i>رویداد ها</a>
             </li> -->
             <li>
               <a href="/teachers"><i class="flaticon-left-arrow"></i> اساتید</a>
             </li>
              <li>
               <a href="/blogs"><i class="flaticon-left-arrow"></i>اخبار</a>
             </li> 
           </ul>
         </div>
       </div>
       <div class="col-lg-3 col-md-6">
         <div class="footer-content fml-15 fml-20">
           <h2>تماس با ما</h2>
           <ul>
             <li>
               <a href="#"><i class="flaticon-left-arrow"></i> تلفن: 55206070-031</a>
             </li>
             <li>
               <a href="#"><i class="flaticon-left-arrow"></i> فکس: 55206065-031</a>
             </li>

             <li>
               <a href="#">fatemekhaje@gmail.com <i class="flaticon-left-arrow"></i></a>
             </li>
             <li>
               <a href="#">
                 <i class="flaticon-left-arrow"></i> دفتر مرکزی: کاشان
               </a>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- End Footer Area -->

 <!-- Copy Area -->
 <div class="copy-area">
   <div class="container">
     <div class="col-lg-12">
       <div class="row">
         <div class="copy">
           <p>تمامی حقوق وبسایت متعلق به تیم توسعه مجموعه آموزشگاه مدیریت زبان 
              <span style="color: skyblue;">partou</span>می باشد</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- End Copy Area -->