<div class="page-content-wrapper ">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h4 class="page-title m-0">عوض کردن پسورد</h4>
            </div>

            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end page-title-box -->
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card m-b-30">
          <div class="card-body">

            <h4 class="mt-0 header-title"> استاد عزیز !</h4>
            <p class="text-muted m-b-30 font-14">پسورد جدید خود را وارد نموده سپس ویرایش را بزنید</p>
            <form action="/teacherdash/updatepassword?teacherId=<%= teacher.id %> " method="POST" enctype="multipart/form-data">
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">گذرواژه</label>
                <div class="col-sm-10">
                  <input name="password" type="password" class="form-control" placeholder="گذرواژه" />
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">تکرار گذرواژه</label>
                <div class="col-sm-10">
                  <input name="repeatPassword" type="password" class="form-control" placeholder="تکرار گذرواژه" />
                </div>
              </div>
              <%- include('./includes/errors.ejs') %>
              <button type="submit" class="btn mt-5 btn-primary btn-lg btn-block waves-effect waves-light">ویرایش</button>
            </form>
          </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->